<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincompaniesTVa.home.title">TVAS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tva" [routerLink]="['/tva/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincompaniesTVa.home.createLabel">
            Create a new TVA
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tVAS?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincompaniesTVa.home.notFound">No tVAS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tVAS && tVAS.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="mooingatewayApp.mooincompaniesTVa.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="percentageValue"><span jhiTranslate="mooingatewayApp.mooincompaniesTVa.percentageValue">Percentage Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="mooingatewayApp.mooincompaniesTVa.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tVA of tVAS ;trackBy: trackId">
                    <td><a [routerLink]="['/tva', tVA.id, 'view']">{{ tVA.id }}</a></td>
                    <td>{{ tVA.name }}</td>
                    <td>{{ tVA.percentageValue }}</td>
                    <td>
                        <div *ngIf="tVA.company">
                            <a [routerLink]="['/company', tVA.company?.id, 'view']" >{{ tVA.company?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tva', tVA.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tva', tVA.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tVA)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tVAS && tVAS.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
