<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.home.title">Cashier Appros</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cashier-appro" [routerLink]="['/cashier-appro/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincashierCashierAppro.home.createLabel">
            Create a new Cashier Appro
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cashierAppros?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.home.notFound">No cashierAppros found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cashierAppros && cashierAppros.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="number"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.number">Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalHT"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.totalHT">Total HT</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTVA"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.totalTVA">Total TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totaTTC"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.totaTTC">Tota TTC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isConverted"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.isConverted">Is Converted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="withTVA"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.withTVA">With TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="withTax"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.withTax">With Tax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cashier.id"><span jhiTranslate="mooingatewayApp.mooincashierCashierAppro.cashier">Cashier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cashierAppro of cashierAppros ;trackBy: trackId">
                    <td><a [routerLink]="['/cashier-appro', cashierAppro.id, 'view']">{{ cashierAppro.id }}</a></td>
                    <td>{{ cashierAppro.number }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.CashierApproStatusEnum.' + cashierAppro.status }}">{{ cashierAppro.status }}</td>
                    <td>{{ cashierAppro.totalHT }}</td>
                    <td>{{ cashierAppro.totalTVA }}</td>
                    <td>{{ cashierAppro.totaTTC }}</td>
                    <td>{{ cashierAppro.date | date:'mediumDate' }}</td>
                    <td>{{ cashierAppro.isConverted }}</td>
                    <td>{{ cashierAppro.withTVA }}</td>
                    <td>{{ cashierAppro.withTax }}</td>
                    <td>
                        <div *ngIf="cashierAppro.cashier">
                            <a [routerLink]="['/cashier', cashierAppro.cashier?.id, 'view']" >{{ cashierAppro.cashier?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cashier-appro', cashierAppro.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cashier-appro', cashierAppro.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cashierAppro)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cashierAppros && cashierAppros.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
