<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.home.title">Company Bank Accounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company-bank-account" [routerLink]="['/company-bank-account/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.home.createLabel">
            Create a new Company Bank Account
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="companyBankAccounts?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.home.notFound">No companyBankAccounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="companyBankAccounts && companyBankAccounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reference"><span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.reference">Reference</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankName"><span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.bankName">Bank Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankAccountNumber"><span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.bankAccountNumber">Bank Account Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iban"><span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.iban">Iban</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="swift"><span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.swift">Swift</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="mooingatewayApp.mooincompaniesCompanyBankAccount.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let companyBankAccount of companyBankAccounts ;trackBy: trackId">
                    <td><a [routerLink]="['/company-bank-account', companyBankAccount.id, 'view']">{{ companyBankAccount.id }}</a></td>
                    <td>{{ companyBankAccount.reference }}</td>
                    <td>{{ companyBankAccount.bankName }}</td>
                    <td>{{ companyBankAccount.bankAccountNumber }}</td>
                    <td>{{ companyBankAccount.iban }}</td>
                    <td>{{ companyBankAccount.swift }}</td>
                    <td>{{ companyBankAccount.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/company-bank-account', companyBankAccount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/company-bank-account', companyBankAccount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(companyBankAccount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="companyBankAccounts && companyBankAccounts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
