<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-company-module-heading" jhiTranslate="mooingatewayApp.mooincompaniesCompanyModule.home.createOrEditLabel">Create or edit a Company Module</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyModule.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyModule.activatedAt" for="field_activatedAt">Activated At</label>
                    <div class="input-group">
                        <input id="field_activatedAt" type="text" class="form-control" name="activatedAt" ngbDatepicker #activatedAtDp="ngbDatepicker" formControlName="activatedAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="activatedAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('activatedAt')!.invalid && (editForm.get('activatedAt')!.dirty || editForm.get('activatedAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activatedAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyModule.activatedUntil" for="field_activatedUntil">Activated Until</label>
                    <div class="input-group">
                        <input id="field_activatedUntil" type="text" class="form-control" name="activatedUntil" ngbDatepicker #activatedUntilDp="ngbDatepicker" formControlName="activatedUntil"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="activatedUntilDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('activatedUntil')!.invalid && (editForm.get('activatedUntil')!.dirty || editForm.get('activatedUntil')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activatedUntil')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyModule.isActivated" for="field_isActivated">Is Activated</label>
                    <input type="checkbox" class="form-control" name="isActivated" id="field_isActivated"
                           formControlName="isActivated"/>
                    <div *ngIf="editForm.get('isActivated')!.invalid && (editForm.get('isActivated')!.dirty || editForm.get('isActivated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isActivated')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyModule.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyModule.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company')!.value?.id ? editForm.get('company')!.value : companyOption" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
