<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-company-bill-payment-heading" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.home.createOrEditLabel">Create or edit a Company Bill Payment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.number" for="field_number">Number</label>
                    <input type="text" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.paymentDate" for="field_paymentDate">Payment Date</label>
                    <div class="input-group">
                        <input id="field_paymentDate" type="text" class="form-control" name="paymentDate" ngbDatepicker #paymentDateDp="ngbDatepicker" formControlName="paymentDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" name="paymentMethod" formControlName="paymentMethod" id="field_paymentMethod">
                        <option value="CREDIT_CARD">{{ 'mooingatewayApp.CompanyPaymentMethod.CREDIT_CARD' | translate }}</option>
                        <option value="CASH">{{ 'mooingatewayApp.CompanyPaymentMethod.CASH' | translate }}</option>
                        <option value="BANK_CHECK">{{ 'mooingatewayApp.CompanyPaymentMethod.BANK_CHECK' | translate }}</option>
                        <option value="BANK_TRAIT">{{ 'mooingatewayApp.CompanyPaymentMethod.BANK_TRAIT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.bankCheckorTraitNumber" for="field_bankCheckorTraitNumber">Bank Checkor Trait Number</label>
                    <input type="text" class="form-control" name="bankCheckorTraitNumber" id="field_bankCheckorTraitNumber"
                           formControlName="bankCheckorTraitNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.imageJustif" for="field_imageJustif">Image Justif</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageJustifContentType')!.value + ';base64,' + editForm.get('imageJustif')!.value" style="max-height: 100px;" *ngIf="editForm.get('imageJustif')!.value" alt="companyBillPayment image"/>
                        <div *ngIf="editForm.get('imageJustif')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imageJustifContentType')!.value }}, {{ byteSize(editForm.get('imageJustif')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('imageJustif', 'imageJustifContentType', 'file_imageJustif')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imageJustif" (change)="setFileData($event, 'imageJustif', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imageJustif" id="field_imageJustif"
                           formControlName="imageJustif"/>
                    <input type="hidden" class="form-control" name="imageJustifContentType" id="field_imageJustifContentType"
                           formControlName="imageJustifContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DRAFT_PANIER">{{ 'mooingatewayApp.CompanyModulePaymentStatus.DRAFT_PANIER' | translate }}</option>
                        <option value="CONFIRMED">{{ 'mooingatewayApp.CompanyModulePaymentStatus.CONFIRMED' | translate }}</option>
                        <option value="CANCELED">{{ 'mooingatewayApp.CompanyModulePaymentStatus.CANCELED' | translate }}</option>
                        <option value="UNDER_TREATMENT">{{ 'mooingatewayApp.CompanyModulePaymentStatus.UNDER_TREATMENT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.totalHT" for="field_totalHT">Total HT</label>
                    <input type="number" class="form-control" name="totalHT" id="field_totalHT"
                           formControlName="totalHT"/>
                    <div *ngIf="editForm.get('totalHT')!.invalid && (editForm.get('totalHT')!.dirty || editForm.get('totalHT')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalHT')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalHT')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalHT')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.totalTVA" for="field_totalTVA">Total TVA</label>
                    <input type="number" class="form-control" name="totalTVA" id="field_totalTVA"
                           formControlName="totalTVA"/>
                    <div *ngIf="editForm.get('totalTVA')!.invalid && (editForm.get('totalTVA')!.dirty || editForm.get('totalTVA')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalTVA')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalTVA')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalTVA')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.totaTTC" for="field_totaTTC">Tota TTC</label>
                    <input type="number" class="form-control" name="totaTTC" id="field_totaTTC"
                           formControlName="totaTTC"/>
                    <div *ngIf="editForm.get('totaTTC')!.invalid && (editForm.get('totaTTC')!.dirty || editForm.get('totaTTC')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totaTTC')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totaTTC')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totaTTC')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.dueDate" for="field_dueDate">Due Date</label>
                    <div class="input-group">
                        <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker #dueDateDp="ngbDatepicker" formControlName="dueDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.withTVA" for="field_withTVA">With TVA</label>
                    <input type="checkbox" class="form-control" name="withTVA" id="field_withTVA"
                           formControlName="withTVA"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.withTax" for="field_withTax">With Tax</label>
                    <input type="checkbox" class="form-control" name="withTax" id="field_withTax"
                           formControlName="withTax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesCompanyBillPayment.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company')!.value?.id ? editForm.get('company')!.value : companyOption" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
