<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cashier-appro-item-heading" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.home.createOrEditLabel">Create or edit a Cashier Appro Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                    <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantity')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.discountRate" for="field_discountRate">Discount Rate</label>
                    <input type="number" class="form-control" name="discountRate" id="field_discountRate"
                           formControlName="discountRate"/>
                    <div *ngIf="editForm.get('discountRate')!.invalid && (editForm.get('discountRate')!.dirty || editForm.get('discountRate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discountRate')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('discountRate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.totalHT" for="field_totalHT">Total HT</label>
                    <input type="number" class="form-control" name="totalHT" id="field_totalHT"
                           formControlName="totalHT"/>
                    <div *ngIf="editForm.get('totalHT')!.invalid && (editForm.get('totalHT')!.dirty || editForm.get('totalHT')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalHT')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalHT')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.totalTVA" for="field_totalTVA">Total TVA</label>
                    <input type="number" class="form-control" name="totalTVA" id="field_totalTVA"
                           formControlName="totalTVA"/>
                    <div *ngIf="editForm.get('totalTVA')!.invalid && (editForm.get('totalTVA')!.dirty || editForm.get('totalTVA')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalTVA')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalTVA')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.totaTTC" for="field_totaTTC">Tota TTC</label>
                    <input type="number" class="form-control" name="totaTTC" id="field_totaTTC"
                           formControlName="totaTTC"/>
                    <div *ngIf="editForm.get('totaTTC')!.invalid && (editForm.get('totaTTC')!.dirty || editForm.get('totaTTC')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totaTTC')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totaTTC')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.cashierProduct" for="field_cashierProduct">Cashier Product</label>
                    <select class="form-control" id="field_cashierProduct" name="cashierProduct" formControlName="cashierProduct">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cashierProductOption.id === editForm.get('cashierProduct')!.value?.id ? editForm.get('cashierProduct')!.value : cashierProductOption" *ngFor="let cashierProductOption of cashierproducts; trackBy: trackById">{{ cashierProductOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.cashierAppro" for="field_cashierAppro">Cashier Appro</label>
                    <select class="form-control" id="field_cashierAppro" name="cashierAppro" formControlName="cashierAppro">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cashierApproOption.id === editForm.get('cashierAppro')!.value?.id ? editForm.get('cashierAppro')!.value : cashierApproOption" *ngFor="let cashierApproOption of cashierappros; trackBy: trackById">{{ cashierApproOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
