<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.home.title">Cashier Appro Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cashier-appro-item" [routerLink]="['/cashier-appro-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.home.createLabel">
            Create a new Cashier Appro Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cashierApproItems?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.home.notFound">No cashierApproItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cashierApproItems && cashierApproItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discountRate"><span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.discountRate">Discount Rate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalHT"><span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.totalHT">Total HT</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTVA"><span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.totalTVA">Total TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totaTTC"><span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.totaTTC">Tota TTC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cashierProduct.id"><span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.cashierProduct">Cashier Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cashierAppro.id"><span jhiTranslate="mooingatewayApp.mooincashierCashierApproItem.cashierAppro">Cashier Appro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cashierApproItem of cashierApproItems ;trackBy: trackId">
                    <td><a [routerLink]="['/cashier-appro-item', cashierApproItem.id, 'view']">{{ cashierApproItem.id }}</a></td>
                    <td>{{ cashierApproItem.quantity }}</td>
                    <td>{{ cashierApproItem.discountRate }}</td>
                    <td>{{ cashierApproItem.totalHT }}</td>
                    <td>{{ cashierApproItem.totalTVA }}</td>
                    <td>{{ cashierApproItem.totaTTC }}</td>
                    <td>
                        <div *ngIf="cashierApproItem.cashierProduct">
                            <a [routerLink]="['/cashier-product', cashierApproItem.cashierProduct?.id, 'view']" >{{ cashierApproItem.cashierProduct?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cashierApproItem.cashierAppro">
                            <a [routerLink]="['/cashier-appro', cashierApproItem.cashierAppro?.id, 'view']" >{{ cashierApproItem.cashierAppro?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cashier-appro-item', cashierApproItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cashier-appro-item', cashierApproItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cashierApproItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cashierApproItems && cashierApproItems.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
