<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.home.title">Cashier Receipts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cashier-receipt" [routerLink]="['/cashier-receipt/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.home.createLabel">
            Create a new Cashier Receipt
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cashierReceipts?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.home.notFound">No cashierReceipts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cashierReceipts && cashierReceipts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="number"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.number">Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reference"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.reference">Reference</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalHT"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.totalHT">Total HT</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTVA"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.totalTVA">Total TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totaTTC"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.totaTTC">Tota TTC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dueDate"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isConverted"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.isConverted">Is Converted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="withTVA"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.withTVA">With TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="withTax"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.withTax">With Tax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cashier.id"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.cashier">Cashier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cashierCostumer.id"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceipt.cashierCostumer">Cashier Costumer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cashierReceipt of cashierReceipts ;trackBy: trackId">
                    <td><a [routerLink]="['/cashier-receipt', cashierReceipt.id, 'view']">{{ cashierReceipt.id }}</a></td>
                    <td>{{ cashierReceipt.number }}</td>
                    <td>{{ cashierReceipt.reference }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.CashierReceiptStatusEnum.' + cashierReceipt.status }}">{{ cashierReceipt.status }}</td>
                    <td>{{ cashierReceipt.totalHT }}</td>
                    <td>{{ cashierReceipt.totalTVA }}</td>
                    <td>{{ cashierReceipt.totaTTC }}</td>
                    <td>{{ cashierReceipt.date | date:'mediumDate' }}</td>
                    <td>{{ cashierReceipt.dueDate | date:'mediumDate' }}</td>
                    <td>{{ cashierReceipt.isConverted }}</td>
                    <td>{{ cashierReceipt.withTVA }}</td>
                    <td>{{ cashierReceipt.withTax }}</td>
                    <td>
                        <div *ngIf="cashierReceipt.cashier">
                            <a [routerLink]="['/cashier', cashierReceipt.cashier?.id, 'view']" >{{ cashierReceipt.cashier?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cashierReceipt.cashierCostumer">
                            <a [routerLink]="['/cashier-costumer', cashierReceipt.cashierCostumer?.id, 'view']" >{{ cashierReceipt.cashierCostumer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cashier-receipt', cashierReceipt.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cashier-receipt', cashierReceipt.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cashierReceipt)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cashierReceipts && cashierReceipts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
