<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.home.title">Tiers Bank Checks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tiers-bank-check" [routerLink]="['/tiers-bank-check/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.home.createLabel">
            Create a new Tiers Bank Check
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tiersBankChecks?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.home.notFound">No tiersBankChecks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tiersBankChecks && tiersBankChecks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankName"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.bankName">Bank Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="number"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.number">Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dueDate"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankCheckType"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.bankCheckType">Bank Check Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankCheckKind"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.bankCheckKind">Bank Check Kind</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="swift"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.swift">Swift</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tiers.id"><span jhiTranslate="mooingatewayApp.mooinbaseTiersBankCheck.tiers">Tiers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tiersBankCheck of tiersBankChecks ;trackBy: trackId">
                    <td><a [routerLink]="['/tiers-bank-check', tiersBankCheck.id, 'view']">{{ tiersBankCheck.id }}</a></td>
                    <td>{{ tiersBankCheck.name }}</td>
                    <td>{{ tiersBankCheck.bankName }}</td>
                    <td>{{ tiersBankCheck.number }}</td>
                    <td>{{ tiersBankCheck.amount }}</td>
                    <td>{{ tiersBankCheck.dueDate | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.BankCheckType.' + tiersBankCheck.bankCheckType }}">{{ tiersBankCheck.bankCheckType }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.BankCheckKind.' + tiersBankCheck.bankCheckKind }}">{{ tiersBankCheck.bankCheckKind }}</td>
                    <td>{{ tiersBankCheck.swift }}</td>
                    <td>{{ tiersBankCheck.type }}</td>
                    <td>
                        <div *ngIf="tiersBankCheck.tiers">
                            <a [routerLink]="['/tiers', tiersBankCheck.tiers?.id, 'view']" >{{ tiersBankCheck.tiers?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tiers-bank-check', tiersBankCheck.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tiers-bank-check', tiersBankCheck.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tiersBankCheck)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tiersBankChecks && tiersBankChecks.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
