<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tVAItem">
            <h2><span jhiTranslate="mooingatewayApp.mooinbaseTVaItem.detail.title">TVA Item</span> {{ tVAItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseTVaItem.name">Name</span></dt>
                <dd>
                    <span>{{ tVAItem.name }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseTVaItem.percentageValue">Percentage Value</span></dt>
                <dd>
                    <span>{{ tVAItem.percentageValue }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseTVaItem.companyID">Company ID</span></dt>
                <dd>
                    <span>{{ tVAItem.companyID }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseTVaItem.tvaID">Tva ID</span></dt>
                <dd>
                    <span>{{ tVAItem.tvaID }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseTVaItem.product">Product</span></dt>
                <dd>
                    <div *ngIf="tVAItem.product">
                        <a [routerLink]="['/product', tVAItem.product?.id, 'view']">{{ tVAItem.product?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tva-item', tVAItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
