<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.home.title">Quote Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quote-item" [routerLink]="['/quote-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.home.createLabel">
            Create a new Quote Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="quoteItems?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.home.notFound">No quoteItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="quoteItems && quoteItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discountRate"><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.discountRate">Discount Rate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalHT"><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.totalHT">Total HT</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTVA"><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.totalTVA">Total TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totaTTC"><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.totaTTC">Tota TTC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product.id"><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quote.id"><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.quote">Quote</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quoteItem of quoteItems ;trackBy: trackId">
                    <td><a [routerLink]="['/quote-item', quoteItem.id, 'view']">{{ quoteItem.id }}</a></td>
                    <td>{{ quoteItem.quantity }}</td>
                    <td>{{ quoteItem.discountRate }}</td>
                    <td>{{ quoteItem.totalHT }}</td>
                    <td>{{ quoteItem.totalTVA }}</td>
                    <td>{{ quoteItem.totaTTC }}</td>
                    <td>
                        <div *ngIf="quoteItem.product">
                            <a [routerLink]="['/product', quoteItem.product?.id, 'view']" >{{ quoteItem.product?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="quoteItem.quote">
                            <a [routerLink]="['/quote', quoteItem.quote?.id, 'view']" >{{ quoteItem.quote?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/quote-item', quoteItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/quote-item', quoteItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(quoteItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="quoteItems && quoteItems.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
