<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quoteItem">
            <h2><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.detail.title">Quote Item</span> {{ quoteItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ quoteItem.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.discountRate">Discount Rate</span></dt>
                <dd>
                    <span>{{ quoteItem.discountRate }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.totalHT">Total HT</span></dt>
                <dd>
                    <span>{{ quoteItem.totalHT }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.totalTVA">Total TVA</span></dt>
                <dd>
                    <span>{{ quoteItem.totalTVA }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.totaTTC">Tota TTC</span></dt>
                <dd>
                    <span>{{ quoteItem.totaTTC }}</span>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.product">Product</span></dt>
                <dd>
                    <div *ngIf="quoteItem.product">
                        <a [routerLink]="['/product', quoteItem.product?.id, 'view']">{{ quoteItem.product?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mooingatewayApp.mooinbaseQuoteItem.quote">Quote</span></dt>
                <dd>
                    <div *ngIf="quoteItem.quote">
                        <a [routerLink]="['/quote', quoteItem.quote?.id, 'view']">{{ quoteItem.quote?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quote-item', quoteItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
