<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.home.title">Cashier Receipt Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cashier-receipt-item" [routerLink]="['/cashier-receipt-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.home.createLabel">
            Create a new Cashier Receipt Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cashierReceiptItems?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.home.notFound">No cashierReceiptItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cashierReceiptItems && cashierReceiptItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discountRate"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.discountRate">Discount Rate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalHT"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.totalHT">Total HT</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTVA"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.totalTVA">Total TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totaTTC"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.totaTTC">Tota TTC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cashierProduct.id"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.cashierProduct">Cashier Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cashierReceipt.id"><span jhiTranslate="mooingatewayApp.mooincashierCashierReceiptItem.cashierReceipt">Cashier Receipt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cashierReceiptItem of cashierReceiptItems ;trackBy: trackId">
                    <td><a [routerLink]="['/cashier-receipt-item', cashierReceiptItem.id, 'view']">{{ cashierReceiptItem.id }}</a></td>
                    <td>{{ cashierReceiptItem.quantity }}</td>
                    <td>{{ cashierReceiptItem.discountRate }}</td>
                    <td>{{ cashierReceiptItem.totalHT }}</td>
                    <td>{{ cashierReceiptItem.totalTVA }}</td>
                    <td>{{ cashierReceiptItem.totaTTC }}</td>
                    <td>
                        <div *ngIf="cashierReceiptItem.cashierProduct">
                            <a [routerLink]="['/cashier-product', cashierReceiptItem.cashierProduct?.id, 'view']" >{{ cashierReceiptItem.cashierProduct?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cashierReceiptItem.cashierReceipt">
                            <a [routerLink]="['/cashier-receipt', cashierReceiptItem.cashierReceipt?.id, 'view']" >{{ cashierReceiptItem.cashierReceipt?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cashier-receipt-item', cashierReceiptItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cashier-receipt-item', cashierReceiptItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cashierReceiptItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cashierReceiptItems && cashierReceiptItems.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
