<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooinbaseQuote.home.title">Quotes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quote" [routerLink]="['/quote/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooinbaseQuote.home.createLabel">
            Create a new Quote
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="quotes?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooinbaseQuote.home.notFound">No quotes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="quotes && quotes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="number"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.number">Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reference"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.reference">Reference</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalHT"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.totalHT">Total HT</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTVA"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.totalTVA">Total TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totaTTC"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.totaTTC">Tota TTC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dueDate"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isConverted"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.isConverted">Is Converted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="companyID"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.companyID">Company ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tiers.id"><span jhiTranslate="mooingatewayApp.mooinbaseQuote.tiers">Tiers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of quotes ;trackBy: trackId">
                    <td><a [routerLink]="['/quote', quote.id, 'view']">{{ quote.id }}</a></td>
                    <td>{{ quote.number }}</td>
                    <td>{{ quote.reference }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.QuoteStatusEnum.' + quote.status }}">{{ quote.status }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.QuoteTypeEnum.' + quote.type }}">{{ quote.type }}</td>
                    <td>{{ quote.totalHT }}</td>
                    <td>{{ quote.totalTVA }}</td>
                    <td>{{ quote.totaTTC }}</td>
                    <td>{{ quote.date | date:'mediumDate' }}</td>
                    <td>{{ quote.dueDate | date:'mediumDate' }}</td>
                    <td>{{ quote.isConverted }}</td>
                    <td>{{ quote.companyID }}</td>
                    <td>
                        <div *ngIf="quote.tiers">
                            <a [routerLink]="['/tiers', quote.tiers?.id, 'view']" >{{ quote.tiers?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/quote', quote.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/quote', quote.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(quote)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="quotes && quotes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
