<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.home.title">Employees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/employee/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincompaniesEmployee.home.createLabel">
            Create a new Employee
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employees?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.home.notFound">No employees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employees && employees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobTitle"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.jobTitle">Job Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.gender">Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfborth"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.dateOfborth">Date Ofborth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfRecruitment"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.dateOfRecruitment">Date Of Recruitment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="salary"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.salary">Salary</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commissionPct"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.commissionPct">Commission Pct</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rates"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.rates">Rates</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employeeLocation.id"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.employeeLocation">Employee Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployee.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees ;trackBy: trackId">
                    <td><a [routerLink]="['/employee', employee.id, 'view']">{{ employee.id }}</a></td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.jobTitle }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.Gender.' + employee.gender }}">{{ employee.gender }}</td>
                    <td>{{ employee.dateOfborth | date:'mediumDate' }}</td>
                    <td>{{ employee.dateOfRecruitment | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="employee.image" (click)="openFile(employee.imageContentType, employee.image)">
                            <img [src]="'data:' + employee.imageContentType + ';base64,' + employee.image" style="max-height: 30px;" alt="employee image"/>
                        </a>
                        <span *ngIf="employee.image">{{ employee.imageContentType }}, {{ byteSize(employee.image) }}</span>
                    </td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phoneNumber }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{{ employee.commissionPct }}</td>
                    <td>{{ employee.rates }}</td>
                    <td>
                        <div *ngIf="employee.employeeLocation">
                            <a [routerLink]="['/employee-location', employee.employeeLocation?.id, 'view']" >{{ employee.employeeLocation?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employee.company">
                            <a [routerLink]="['/company', employee.company?.id, 'view']" >{{ employee.company?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employee', employee.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employee', employee.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employee)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="employees && employees.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
