<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-payment-heading" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.home.createOrEditLabel">Create or edit a Employee Payment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.paymentDate" for="field_paymentDate">Payment Date</label>
                    <div class="d-flex">
                        <input id="field_paymentDate" type="datetime-local" class="form-control" name="paymentDate" formControlName="paymentDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.fromDate" for="field_fromDate">From Date</label>
                    <div class="input-group">
                        <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker #fromDateDp="ngbDatepicker" formControlName="fromDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.toDate" for="field_toDate">To Date</label>
                    <div class="input-group">
                        <input id="field_toDate" type="text" class="form-control" name="toDate" ngbDatepicker #toDateDp="ngbDatepicker" formControlName="toDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.imageJustif" for="field_imageJustif">Image Justif</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageJustifContentType')!.value + ';base64,' + editForm.get('imageJustif')!.value" style="max-height: 100px;" *ngIf="editForm.get('imageJustif')!.value" alt="employeePayment image"/>
                        <div *ngIf="editForm.get('imageJustif')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imageJustifContentType')!.value }}, {{ byteSize(editForm.get('imageJustif')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('imageJustif', 'imageJustifContentType', 'file_imageJustif')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imageJustif" (change)="setFileData($event, 'imageJustif', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imageJustif" id="field_imageJustif"
                           formControlName="imageJustif"/>
                    <input type="hidden" class="form-control" name="imageJustifContentType" id="field_imageJustifContentType"
                           formControlName="imageJustifContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackById">{{ employeeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
