<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.home.title">Employee Payments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee-payment" [routerLink]="['/employee-payment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.home.createLabel">
            Create a new Employee Payment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employeePayments?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.home.notFound">No employeePayments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employeePayments && employeePayments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="details"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.details">Details</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentDate"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.paymentDate">Payment Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fromDate"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.fromDate">From Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="toDate"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.toDate">To Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imageJustif"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.imageJustif">Image Justif</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employee.id"><span jhiTranslate="mooingatewayApp.mooincompaniesEmployeePayment.employee">Employee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employeePayment of employeePayments ;trackBy: trackId">
                    <td><a [routerLink]="['/employee-payment', employeePayment.id, 'view']">{{ employeePayment.id }}</a></td>
                    <td>{{ employeePayment.details }}</td>
                    <td>{{ employeePayment.amount }}</td>
                    <td>{{ employeePayment.paymentDate | date:'medium' }}</td>
                    <td>{{ employeePayment.fromDate | date:'mediumDate' }}</td>
                    <td>{{ employeePayment.toDate | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="employeePayment.imageJustif" (click)="openFile(employeePayment.imageJustifContentType, employeePayment.imageJustif)">
                            <img [src]="'data:' + employeePayment.imageJustifContentType + ';base64,' + employeePayment.imageJustif" style="max-height: 30px;" alt="employeePayment image"/>
                        </a>
                        <span *ngIf="employeePayment.imageJustif">{{ employeePayment.imageJustifContentType }}, {{ byteSize(employeePayment.imageJustif) }}</span>
                    </td>
                    <td>
                        <div *ngIf="employeePayment.employee">
                            <a [routerLink]="['/employee', employeePayment.employee?.id, 'view']" >{{ employeePayment.employee?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employee-payment', employeePayment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employee-payment', employeePayment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employeePayment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="employeePayments && employeePayments.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
