<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooinecommerceOffer.home.title">Offers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offer" [routerLink]="['/offer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooinecommerceOffer.home.createLabel">
            Create a new Offer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="offers?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooinecommerceOffer.home.notFound">No offers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="offers && offers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateBegin"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.dateBegin">Date Begin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateEnd"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.dateEnd">Date End</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duration"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.duration">Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.productId">Product Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="saleUnitPriceBeforeDiscount"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.saleUnitPriceBeforeDiscount">Sale Unit Price Before Discount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discountRate"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.discountRate">Discount Rate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="saleUnitPriceAfterDiscount"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.saleUnitPriceAfterDiscount">Sale Unit Price After Discount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="withTVA"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.withTVA">With TVA</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="withTax"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.withTax">With Tax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isActivated"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.isActivated">Is Activated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="companyID"><span jhiTranslate="mooingatewayApp.mooinecommerceOffer.companyID">Company ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offer of offers ;trackBy: trackId">
                    <td><a [routerLink]="['/offer', offer.id, 'view']">{{ offer.id }}</a></td>
                    <td>{{ offer.name }}</td>
                    <td>{{ offer.description }}</td>
                    <td>
                        <a *ngIf="offer.image" (click)="openFile(offer.imageContentType, offer.image)">
                            <img [src]="'data:' + offer.imageContentType + ';base64,' + offer.image" style="max-height: 30px;" alt="offer image"/>
                        </a>
                        <span *ngIf="offer.image">{{ offer.imageContentType }}, {{ byteSize(offer.image) }}</span>
                    </td>
                    <td>{{ offer.dateBegin | date:'mediumDate' }}</td>
                    <td>{{ offer.dateEnd | date:'mediumDate' }}</td>
                    <td>{{ offer.duration }}</td>
                    <td jhiTranslate="{{ 'mooingatewayApp.OfferStatus.' + offer.status }}">{{ offer.status }}</td>
                    <td>{{ offer.productId }}</td>
                    <td>{{ offer.saleUnitPriceBeforeDiscount }}</td>
                    <td>{{ offer.discountRate }}</td>
                    <td>{{ offer.saleUnitPriceAfterDiscount }}</td>
                    <td>{{ offer.withTVA }}</td>
                    <td>{{ offer.withTax }}</td>
                    <td>{{ offer.isActivated }}</td>
                    <td>{{ offer.companyID }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/offer', offer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/offer', offer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(offer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="offers && offers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
