<div>
    <h2 id="page-heading">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.home.title">Cashier Locations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cashier-location" [routerLink]="['/cashier-location/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mooingatewayApp.mooincashierCashierLocation.home.createLabel">
            Create a new Cashier Location
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cashierLocations?.length === 0">
        <span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.home.notFound">No cashierLocations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cashierLocations && cashierLocations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localNumber"><span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.localNumber">Local Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="streetAddress"><span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.streetAddress">Street Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalCode"><span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.postalCode">Postal Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stateProvince"><span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.stateProvince">State Province</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="countryName"><span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.countryName">Country Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="flag"><span jhiTranslate="mooingatewayApp.mooincashierCashierLocation.flag">Flag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cashierLocation of cashierLocations ;trackBy: trackId">
                    <td><a [routerLink]="['/cashier-location', cashierLocation.id, 'view']">{{ cashierLocation.id }}</a></td>
                    <td>{{ cashierLocation.localNumber }}</td>
                    <td>{{ cashierLocation.streetAddress }}</td>
                    <td>{{ cashierLocation.postalCode }}</td>
                    <td>{{ cashierLocation.city }}</td>
                    <td>{{ cashierLocation.stateProvince }}</td>
                    <td>{{ cashierLocation.countryName }}</td>
                    <td>
                        <a *ngIf="cashierLocation.flag" (click)="openFile(cashierLocation.flagContentType, cashierLocation.flag)">
                            <img [src]="'data:' + cashierLocation.flagContentType + ';base64,' + cashierLocation.flag" style="max-height: 30px;" alt="cashierLocation image"/>
                        </a>
                        <span *ngIf="cashierLocation.flag">{{ cashierLocation.flagContentType }}, {{ byteSize(cashierLocation.flag) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cashier-location', cashierLocation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cashier-location', cashierLocation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cashierLocation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cashierLocations && cashierLocations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
